<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ua.toolkit">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.android.vending" />
        <package android:name="com.android.chrome" />
    </queries>

    <application
        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true">

        <activity
            android:name=".AdActivity"
            android:theme="@style/AdSDK.Fullscreen"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode"
            android:launchMode="singleTop"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:maxAspectRatio="9.9"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">

            <meta-data android:name="android.max_aspect" android:value="9.9" />
        </activity>

    </application>
</manifest>