<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ua.toolkit">
	<application>
		<activity
			android:name="com.ua.toolkit.AdActivity"
			android:exported="false"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:screenOrientation="landscape"
			android:configChanges="orientation|screenSize|keyboardHidden" />
	</application>
</manifest>